.Category-title {
    margin-top: 55px;
}

.category-navigation {
    margin-top: 15px;
    /* margin: 0; */
    padding: 0px;
    padding-left: 10px;
    margin-bottom: 70px;
}

.menu-txt {
    color: black;
    list-style: none;
    text-decoration: none;
    /* padding-left: 90px; */
    /* position: relative;
    bottom: 70px; */
}

.menu-txt:visited {
    text-decoration: none;
    color: black;
    list-style: none;
    text-decoration: none;
}

.menu-txt {
    font-size: 4vw;
    text-align: center;
    font-weight: 400;
    font-family: 'IntroBold';
    margin-top: 10px;
    margin: 0;
    position: relative;
    bottom: 60px;
}

.menu-txt a:hover, .menu-txt a:active {
    color: #fa923f;
}

.icon-img {
    margin: auto;
    height: 100%;
    width: 20%;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 0px;
}

.category-navigation img {
    width: 67px;
    height: 67px;
    object-fit: cover;
}

.menu-sect {
    border-bottom: 0.75px solid #E2E2E2;
}

.menu-sect:hover {
    opacity: 0.5;
}