.category-navigation {
    /* margin-top: 0px; */
}

.menu-txt {
    color: black;
    list-style: none;
    text-decoration: none;
}

.menu-txt:visited {
    text-decoration: none;
    color: black;
    list-style: none;
    text-decoration: none;

}

.menu-txt {
    border-bottom: 0.75px solid #E2E2E2;
    font-size: 4vw;
    text-align: left;
    font-weight: 400;
    font-family: 'IntroBold';
    margin-top: 10px;
    /* margin-bottom: 0px; */
}

.icon-img {
    margin: auto;
    height: 100%;
    width: 20%;
    border-radius: 50%;
}

/* .menu-section {
    height: 100%;
    width: 100%;
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
} */