.Welcome-to-Sopranos {
    text-align: center;
    margin-top: 70px;
}

.store-hours {
    width: 90%;
    margin-top: 20px;
}

.menu-home {
    background: #005f85;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.about-us {
    margin: 30px;
}

@media screen and (min-width: 600px) {
    .store-hours {
        width: 40%;
    }
}

@media screen and (min-width: 768px) {
    .about-us.home {
        margin: 100px;
        text-align: center;
    }
}