.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    width: 100%;
    background-color: #B01820;
    height: 56px;
    opacity: 1;
}

.toolbar__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.toolbar__logo {
    margin: 1rem;
}

.toolbar__logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.spacer {
    flex: 1;
}

.toolbar_navigation-items ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.toolbar_navigation-items li {
    padding: 0 0.5rem;
}

.toolbar_navigation-items a {
    color: white;
    text-decoration: none;
}

.desktop-menu:hover, .toolbar__logo:hover {
    opacity: 0.5;
}

@media (max-width: 768px) {
    .toolbar_navigation-items {
        display: none;
    }
}

@media (min-width: 769px) {
    .toolbar-btn {
        display: none;
    }
    .toolbar__logo {
        margin-left: 0;
    }
}