@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

.navbar {
    background-color: rgb(18,18,18);
    color: #edf0f1;
}

.navbar li {
    list-style-type: none;    
}

.main-nav {
    text-decoration: none;
    margin: 0px;
    text-align: center;
}


a, li, button {
    color:inherit;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
   }

a:hover {
    color: yellow;
}



