.coupon {
    border-style: dotted;
    border-color: red;
    text-align: center;
    padding-bottom: 5px;
}

.all-coupons {
    margin-bottom: 65px;
    margin-top: 55px;
}

.coupon-name {
    font-family: Square Sans Serif;
    font-size: 30px;
    color: white;
    background: red;
    margin-top: 0px;
    padding-top: 0px;
}

@media screen and (min-width: 600px) {
    .coupon {
        height: 188px;
        width: 250px;
        align-content: center;
        margin-bottom: 10px;
        word-spacing: 10px;
    }
    .all-coupons {
        padding-top: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}